f"<a class='' onclick='pingbackend("template")' href='{url}?element=template'>template</a><\br><a class='' onclick='pingbackend("view")' href='{url}?element=view'>view</a>"


<script>
  function ajax(url, init) {
    init = Object.assign({ credentials: "same-origin" }, init);
    return fetch(url, init)
        .then(function (response) {
            if (response.ok) {
                return response.json();
            }
            return Promise.reject(
                new Error(response.status + ": " + response.statusText)
            );
        })
        .catch(function (error) {
            const win = document.getElementById("djDebugWindow");
            win.innerHTML =
                '<div class="djDebugPanelTitle"><button type="button" class="djDebugClose">»</button><h3>' +
                error.message +
                "</h3></div>";
             console.log(win,22)
            throw error;
        });
}
function pingbackend(what) {
    console.log(22)
  ajax('{{ url }}', {'what': what})
  return false;
}
</script>
